@{
    ViewBag.Title = "Home Page";
}

<section class="ts-features-round no-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-text">
                    <div class="feature-info">
                        <h3 class="feature-title">
                            LAUNCH <br />
                            ADVANTAGE
                        </h3>
                    </div><!-- feature 1 end -->
                </div>
            </div><!-- Col end -->
            <div class="col-md-4">
                <div class="about-text">
                    <div class="feature-info">
                        <p>SAVING OF UP TO</p>
                        <h1 class="feature-title">32<span style="font-size:12px"> LACS</span><span style="font-size:12px">*</span></h1>

                    </div><!-- feature 2 end -->
                    <span class="border-left-long"></span>
                </div>
            </div><!-- Col end -->
            <div class="col-md-4">
                <div class="about-text">
                    <div class="feature-info">
                        <p>PAY ONLY</p>
                        <h1 class="feature-title">20%</h1>
                        <p>EVERY YEAR <span style="font-size:16px">*</span></p>
                    </div><!-- feature 3 end -->
                </div>
            </div><!-- Col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
</section><!-- Feature end -->
<section id="Amenities" class="solid-bg">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 data-title="Our Services" class="section-title-dash">
                    AMENITIES<span>&nbsp;</span>
                </h2>
            </div><!-- Col end -->
        </div><!--/ Title row end -->
        <div class="row">
            <div class="col-md-3">
                <div class="aminitie-icon">
                    <img src="~/Content/images/aminities/yoga.png" />
                </div>
                <label class="aminities-label">Yoga Deck</label>
            </div>
            <div class="col-md-3">
                <div class="aminitie-icon">
                    <img src="~/Content/images/aminities/route.png" />
                </div>
                <label class="aminities-label">Jogging Track</label>
            </div>
            <div class="col-md-3">
                <div class="aminitie-icon">
                    <img src="~/Content/images/aminities/kids.png" />
                </div>
                <label class="aminities-label">Kids Play Area</label>
            </div>
            <div class="col-md-3">
                <div class="aminitie-icon">
                    <img src="~/Content/images/aminities/swimming-silhouette.png" />
                </div>
                <label class="aminities-label">Swimming Pool</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="aminitie-icon">
                    <img src="~/Content/images/aminities/squash-rackets.png" />
                </div>
                <label class="aminities-label">tennis</label>
            </div>
            <div class="col-md-3">
                <div class="aminitie-icon">
                    <img src="~/Content/images/aminities/weightlifting.png" />
                </div>
                <label class="aminities-label">Gymnasium</label>
            </div>
            <div class="col-md-3">
                <div class="aminitie-icon">
                    <img src="~/Content/images/aminities/party-dj.png" />
                </div>
                <label class="aminities-label">Club house</label>
            </div>
            <div class="col-md-3">
                <div class="aminitie-icon">
                    <img src="~/Content/images/aminities/barbecue.png" />
                </div>
                <label class="aminities-label">BBQ Area</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="aminitie-icon">
                    <img src="~/Content/images/aminities/sprout.png" />
                </div>
                <label class="aminities-label">Gardens</label>
            </div>
            <div class="col-md-3">
                <div class="aminitie-icon">
                    <img src="~/Content/images/aminities/amphitheatre.png" />
                </div>
                <label class="aminities-label">Amphitheater</label>
            </div>

        </div>
    </div>
</section>
<section id="overview" class="ts-overview">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 data-title="Our Services" class="section-title-dash">
                    Overview<span>&nbsp;</span>
                </h2>
            </div><!-- Col end -->
        </div><!--/ Title row end -->
        <div class="row text-center">
          
        </div>
    </div>
</section>
<section id="location" class="contact-tab no-padding solid-bg">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 data-title="Our Services" class="section-title-dash">
                    LOCATION<span>&nbsp;</span>
                </h2>
            </div><!-- Col end -->
        </div><!--/ Title row end -->
        <div class="row">
            <div class="map">

                <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCHnX7CEiWYUZqqRB3fJxUyrblbFKhUd1Q'></script><div style='overflow:hidden;height:450px;width:750px;'>
                    <div id='gmap_canvas' style='height:450px;width:750px;'></div>
                    <style>
                        #gmap_canvas img {
                            max-width: none !important;
                            background: none !important
                        }
                    </style>
                </div> <a href='https://indiatvnow.com/'>Movies&Series from INDIA</a>
                <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=c47814ed5084cf53af5447460588236599b8e186'></script>
                <script type='text/javascript'>function init_map() { var myOptions = { zoom: 17, center: new google.maps.LatLng(19.1534847, 72.9477049), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(19.1534847, 72.9477049) }); infowindow = new google.maps.InfoWindow({ content: '<strong>Godrej Alive Mumbai</strong><br>LBS Road Thane' }); google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>
            </div>
        </div>
    </div>
</section>

<section id="PriceList" class="ts-services">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 data-title="Our Services" class="section-title-dash">
                    PRICE LIST<span>&nbsp;</span>
                </h2>
            </div><!-- Col end -->
        </div><!--/ Title row end -->
        <div class="row text-center">
            <div class="table-responsive table-shadow">
                <!--<br/><br/><br/><center>
                  <a data-target="#enquirenow" data-toggle="modal" class="hvr-radial-out" title="Price Enquire" onClick="lightbox_open1('Payment Enquire');" style="color:#333;padding:5px;"><strong>Click Here For Payment Enquire Now</strong></a></center>
                <br/><br/>-->
                <table class="table">
                    <!--  <table cellspacing="2" cellpadding="2" border="1" align="center" width="100%" class="hero-tagline" style="border-collapse:collapse;border-spacing:0px;max-width:100%;color:#333;font-size:13px;text-align:justify;line-height:3;">-->
                    <thead>
                        <tr style="background-color:#a2df48; color:#FFF;">
                            <th align="center">Type</th>
                            <th align="center">Rera Carpet Area(In sq.mt)</th>
                            <th align="center">Rera Carpet Area(In sq.ft)</th>
                            <th align="center">Price (In INR)</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="center" valign="middle">2BHK Premium</td>
                            <td align="center" valign="middle">73.20</td>
                            <td align="center" valign="middle">787.63</td>
                            <td align="center" valign="middle">1.66 Cr </td>
                        </tr>
                        <tr>
                            <td align="center" valign="middle">3BHK Luxe</td>
                            <td align="center" valign="middle">97.82</td>
                            <td align="center" valign="middle">1052.54</td>
                            <td align="center" valign="middle">2.21 Cr </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td align="center" valign="middle">3BHK Ultra Luxe</td>
                            <td align="center" valign="middle">100.26</td>
                            <td align="center" valign="middle">1078.79</td>
                            <td align="center" valign="middle">2.68 Cr </td>
                        </tr>
                        <tr>
                            <td align="center" valign="middle">4BHK Ultra Luxe</td>
                            <td align="center" valign="middle">124.79</td>
                            <td align="center" valign="middle">	1342.74</td>
                            <td align="center" valign="middle">3.65 Cr</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section id="FloorPlan" class="ts-services">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 data-title="Our Services" class="section-title-dash">
                    FLOOR PLAN<span>&nbsp;</span>
                </h2>
            </div><!-- Col end -->
        </div><!--/ Title row end -->
        <div class="row">
            <div class="col-md-3">
                <img id="myImg" src="~/Content/images/floorplan/floor-plan.jpg" alt="Typical Floor Plan Tower A" style="width:100%;max-width:300px">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            </div>
            <div class="col-md-3">
                <img id="myImgb" src="~/Content/images/floorplan/floor-plan-b.jpg" alt="Typical Floor Plan Tower B" style="width:100%;max-width:300px">
                <div id="myModalb" class="modal">
                    <span class="closeb">&times;</span>
                    <img class="modal-content" id="img02">
                    <div id="captionb"></div>
                </div>
            </div>
            <div class="col-md-3">
                <img id="myImgc" src="~/Content/images/floorplan/floor-plan-b.jpg" alt="Typical Floor Plan Tower C" style="width:100%;max-width:300px">
                <div id="myModalc" class="modal">
                    <span class="closec">&times;</span>
                    <img class="modal-content" id="img03">
                    <div id="captionc"></div>
                </div>
            </div>
            <div class="col-md-3">
                <img id="myImge" src="~/Content/images/floorplan/floor-plan-b.jpg" alt="Typical Floor Plan Tower E" style="width:100%;max-width:300px">

                <div id="myModale" class="modal">
                    <span class="closee">&times;</span>
                    <img class="modal-content" id="img04">
                    <div id="captione"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container ">
        <div class="row borderd pull-right">
            <div class="col-md-4">
                <h2>Inquiry</h2>
                <form action="/action_page.php">
                    <div class="form-group">
                        <label for="name">Full Name:</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="email">Email Id:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter password" name="pswd">
                    </div>
                    <div class="form-group">
                        <label for="Number">Mobile Number:</label>
                        <input type="text" class="form-control" id="number" placeholder="Enter password" name="pswd">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
