<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SSC MULUND</title>
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="Godrej alive, mulund, thane, pune, price, details, location, floor plan, area, ">
    <meta name="description" content="Godrej Alive Mulund is the upcoming infrastructure of Godrej Properties at Mulund Thane Circle. This new launch is coming with 2BHK, 3BHK and 4 BHK premiumresidences. Find Here, Price, Location and floor Plan Details.">

    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- FontAwesome -->
    <link href="~/Content/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />

    <!-- Owl Carousel -->
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.theme.default.min.css" rel="stylesheet" />

    <!-- Template styles-->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- Responsive styles-->    
    <link href="~/Content/css/responsive.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Header start -->
    <header id="header" class="header">
        <nav class="site-navigation navigation navdown navbar navbar-expand-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="site-nav-inner pull-left">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div id="navbarSupportedContent" class="collapse navbar-collapse navbar-responsive-collapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="#Amenities">AMENITIES</a>
                                    </li>
                                    <li>
                                        <a href="#">OVERVIEW</a>
                                    </li>
                                    <li>
                                        <a href="#location">LOCATION</a>
                                    </li>
                                    <li>
                                        <a href="#FloorPlan">FLOOR PLAN</a>
                                    </li>
                                    <li>
                                        <a href="#PriceList">PRICE LIST</a>
                                    </li>

                                </ul><!--/ Nav ul end -->
                            </div><!--/ Collapse end -->

                        </div><!-- Site Navbar inner end -->

                    </div><!--/ Col end -->
                </div><!--/ Row end -->

                <div class="nav-search">
                    <i class="fas fa-phone" style="font-size:21px;"></i>
                    <span><a href="tel:9825327250">+91-9825327250</a></span>

                </div><!-- Search end -->

            </div><!--/ Container end -->

        </nav><!--/ Navigation end -->
    </header><!--/ Header end -->
    <!-- Carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active banner-image" >
        </div><!--/ Carousel item 1 end -->

    </div><!-- Carousel inner end-->
    <!-- Controllers -->
    <!--/ Carousel end -->

        @RenderBody()
    
        <footer id="footer" class="footer-light">
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 footer-widget">
                            <h3 class="widget-title">Site Address</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Location:</p>
                                </div>
                                <div class="col-md-8">
                                    <p>1010 Avenue, NY, USA</p>
                                </div>
                            </div>
                        </div><!-- Our Company end -->

                        <div class="col-lg-3 col-md-12 footer-widget">
                            <h3 class="widget-title">Contact Us</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Location:</p>
                                </div>
                                <div class="col-md-8">
                                    <p>1010 Avenue, NY, USA</p>
                                </div>
                            </div><!--Inner row 1 end -->

                            <div class="row">
                                <div class="col-md-4">
                                    <p>Call Us:</p>
                                </div>
                                <div class="col-md-8">
                                    <p>009-215-5596 (toll free) <br /> 009-215-5597</p>
                                </div>
                            </div><!--Inner row 1 end -->

                            <div class="row">
                                <div class="col-md-4">
                                    <p>Mail Us:</p>
                                </div>
                                <div class="col-md-8">
                                    <p>mail@example.com</p>
                                </div>
                            </div><!--Inner row 1 end -->

                        </div><!-- Col end -->

                    </div><!--/ Content row end -->
                </div><!--/ Container end -->
            </div><!-- Footer Main -->
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 text-center">
                            <div class="copyright-info">
                                <span>© Copyright 2018 SSC MULUND.</span>
                            </div>
                        </div>
                    </div><!-- Row end -->

                    <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
                        <button class="btn btn-primary" title="Back to Top">
                            <i class="fas fa-angle-up"></i>
                        </button>
                    </div>

                </div><!-- Container end -->
            </div><!-- Copyright end -->
        </footer><!-- Footer end -->
 
    <!-- Javascript Files
    ================================================== -->
    <!-- initialize jQuery Library -->

    <script src="~/Content/js/jquery.js"></script>
    <!-- Popper JS -->

    <script src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap jQuery -->

    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Counter -->
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
    <script>
        // Get the modal
        var modal = document.getElementById('myModalb');
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImgb');
        var modalImg = document.getElementById("img02");
        var captionText = document.getElementById("captionb");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closeb")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
    <script>

        // Get the modal
        var modal = document.getElementById('myModalc');
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImgc');
        var modalImg = document.getElementById("img03");
        var captionText = document.getElementById("captionc");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closec")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

    </script>
    <script>

        // Get the modal
        var modal = document.getElementById('myModae');
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImge');
        var modalImg = document.getElementById("img04");
        var captionText = document.getElementById("captione");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closee")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
